<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('List Contacts'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Champs'), ['controller' => 'Champs', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Champ'), ['controller' => 'Champs', 'action' => 'add']) ?></li>
    </ul>
</div>
<div class="contacts form large-10 medium-9 columns">
    <?= $this->Form->create($contact) ?>
    <fieldset>
        <legend><?= __('Add Contact') ?></legend>
        <?php
            echo $this->Form->input('name');
        ?>
        <?php
            echo $this->Form->input('champs._ids', ['id'=>'kkk','onchange' => 'this.form.submit();', 'options' => $champs,'type'=>'select','multiple' => false]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
<?php //$this->start('scriptBottom'); ?>
<script>
       
        var url = 'http://www.google.com/site!#656126.72367';
        url =  url.replace(/!.*/,"");
        alert(url);
        
        </script> 
<?php //$this->end(); ?>
